.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 16% 42% 42%;
  grid-template-rows: 20% 50% 30%;
  gap: 10px;
  background-color: white;
}
.graph_container {
  width: flex;
  height: flex;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
}
#FilterContainer {
  background-color: rgba(255, 255, 255, 0.8);
  grid-row: 1 / span 3;
  border-style: none solid none none;
  border-width: 3px;
  border-color: black;
}
#logo_container {
  width: 100%;
  height: 7%;
  overflow: hidden;
}
#logo_container img {
  width: 100%;
  margin: -13.5% 0 0 0;
}
#search_box_container {
  display: grid;
  grid-template-columns: auto auto;
  height: 7%;
  background-color: cornflowerblue;
}
#search_box {
  width: 88%;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  margin: 14px;
  border-style: hidden;
}
#search_box::placeholder {
  color: white;
  opacity: 0.7;
}
#ScentedPlot {
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: 2 / span 2;
}
#Sunburst {
  grid-column: 2;
  grid-row: 2;
}
#Histogram {
  grid-column: 2;
  grid-row: 3;
}
#ScatterPlot {
  grid-row: span 2;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  font-size: 20px;
}
