.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 16% 42% 42%;
  grid-template-rows: 20% 50% 30%;
  gap: 10px;
}
.graph_container {
  width: flex;
  height: flex;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  background-color: aliceblue;
}
#FilterContainer {
  background-color: aliceblue;
  grid-row: 1 / span 3;
  border-style: none solid none none;
  border-width: 3px;
  border-color: black;
}
#logo_container {
  width: 100%;
  height: 7%;
  overflow: hidden;
  background-color: #2e51a2;
}
#logo_container img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#search_box_container {
  width: 100%;
  height: 5%;
  position: relative;
  display: inline-flex;
  background-color: cornflowerblue;
  overflow: hidden;
  border-style: solid none none none;
  border-width: 2px;
  border-color: grey;
}
#search_box_container img {
  position: relative;
  padding: 10px;
  height: auto;
  display: inline-block;
}
#search_box {
  width: 100%;
  flex-grow: 1;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  border-style: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#search_box::placeholder {
  color: white;
  opacity: 0.7;
}
#anime_list {
  width: 100%;
  height: 42%;
  position: relative;
  overflow-y: scroll;
  border-style: none none solid none;
  border-width: 2px;
  border-color: grey;
}
.anime_list_element {
  width: 90%;
  margin: 2%;
  padding: 3%;
  text-wrap: pretty;
  height: fit-content;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  border-color: lightblue;
}
.anime_list_element.unclicked:hover {
  border-width: 2px;
  border-color: royalblue;
}
.anime_list_element.clicked {
  font-weight: bolder;
  border-width: 2px;
  border-color: black;
}
.anime_list_element.clicked:hover {
  font-weight: bold;
  border-width: 3px;
  border-color: black;
}
#season_filter {
  margin: 2% 0;
  text-align: center;
}
#season_buttons_container {
  width: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2px;
  margin: auto;
}
.season_button {
  height: fit-content;
  border-style: solid;
  border-width: 2px;
  border-color: aliceblue;
  padding: 2px;
  color: white;
  text-align: center;
}
#winter_button {
  background-color: darkorchid;
}
#winter_button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: darkorchid;
  background-color: white;
  color: darkorchid;
}
#winter_button.active {
  border-style: solid;
  border-width: 2px;
  border-color: darkorchid;
  background-color: white;
  color: darkorchid;
}
#spring_button {
  background-color: limegreen;
}
#spring_button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: limegreen;
  background-color: white;
  color: limegreen;
}
#spring_button.active {
  border-style: solid;
  border-width: 2px;
  border-color: limegreen;
  background-color: white;
  color: limegreen;
}
#summer_button {
  background-color: gold;
}
#summer_button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: gold;
  background-color: white;
  color: gold;
}
#summer_button.active {
  border-style: solid;
  border-width: 2px;
  border-color: gold;
  background-color: white;
  color: gold;
}
#fall_button {
  background-color: darkorange;
}
#fall_button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: darkorange;
  background-color: white;
  color: darkorange;
}
#fall_button.active {
  border-style: solid;
  border-width: 2px;
  border-color: darkorange;
  background-color: white;
  color: darkorange;
}
#popularity_filter {
  width: 100%;
  margin: 2% 0;
  text-align: center;
}
#popularity_buttons_container {
  width: 60%;
  height: 12%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
  margin: auto;
}
.popularity_button {
  height: fit-content;
  padding: 2px;
  text-align: center;
  background-color: aliceblue;
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
}
.popularity_button:hover {
  background-color: cornflowerblue;
}
#score_filter {
  width: 100%;
  margin: 2%;
  text-align: center;
}
#genre_filter {
  width: 100%;
  height: 8%;
}
#source_filter {
  width: 100%;
  height: 8%;
}
#ScentedPlot {
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: 2 / span 2;
}
#Sunburst {
  grid-column: 2;
  grid-row: 2;
}
#Histogram {
  grid-column: 2;
  grid-row: 3;
}
#ScatterPlot {
  position:relative;
  grid-row: span 2;
  display: flex;
  justify-content: center;
}
#scatter_plot_info {
  position: absolute;
}
.scatter_plot_button {
  font-size: 12px;
  margin: 4px;
  position: relative;
  border: lightblue solid 1px;
  background-color: white;
}
.scatter_plot_button:hover {
  background-color: lightskyblue;
}
#slope_value {
  position: relative;
  height: fit-content;
  font-size: 12px;
  color: steelblue;
  margin: 4px;
  text-align: center;
}
.tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  pointer-events: none;
  color: steelblue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Verdana;
  background-color: rgb(204, 219, 251);
  overflow: hidden;
}

button {
  font-size: 20px;
}
